.mainNav{
    display: flex;
    z-index: 99999;
    top:0;
    bottom: 0;
    left: -250px;
    transition: all .85s;
}
.mainNav ul li{
    padding: 7px;
    transition: all .4s;
}
.mainNav ul li:hover {
    background-color: #69686862;
    border-radius: 5px; 
    margin-left: 4px;
}
.mainNav > div:nth-child(1){
    width: 250px;
} 